.App {
  text-align: center;
}

.header {
  width: 100%;
  height: 10vh;
  background-color: rgb(72, 26, 116);
  color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: rgb(0, 0, 207);
}

.App-link {
  color: rgb(112, 76, 182);
}
